# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore virtual environment
.venv/

# Ignore .DS_Store files, which are created by macOS for storing folder attributes
.DS_Store
